# Web framework
fastapi==0.116.1
uvicorn[standard]==0.35.0

# Stripe SDK
stripe==12.5.1

# Database / ORM
SQLAlchemy==2.0.43
alembic==1.16.5

# Environment variables
python-dotenv==1.1.1

# Data validation / parsing
pydantic==2.11.9
